@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
--background: #ffffff;
--foreground: #171717;
}

@theme inline {
--color-background: var(--background);
--color-foreground: var(--foreground);
--font-sans: 'Poppins', sans-serif;
--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
:root {
--background: #0a0a0a;
--foreground: #ededed;
}
}

html,
body {
background: var(--background);
color: var(--foreground);
font-family: 'Poppins', Arial, Helvetica, sans-serif;
min-height: 100%;
margin: 0;
padding: 0;
}

html.light {
background-color: #f8f9fa;
color: #212529;
}

html.dark {
background-color: #121212;
color: #f8f9fa;
}

html.dark .navbar,
html.dark footer {
background-color: #1e293b !important;
color: #f8f9fa !important;
}

html.light .navbar,
html.light footer {
background-color: #ffffff !important;
color: #212529 !important;
}

.nav-tabs .nav-link {
color: #000000 !important;
}

.nav-tabs .nav-link:hover {
color: #0d6efd !important;
}

.nav-tabs .nav-link.active {
color: #0d6efd !important;
}

.nav-tabs .nav-item:not(:last-child) {
border-right: 1px solid #dee2e6;
}

.nav-tabs .btn-outline-danger {
border: none !important;
background: transparent !important;
color: #6c757d !important;
}

.nav-tabs .btn-outline-danger:hover {
border: 1px solid #dc3545 !important;
background: #dc3545 !important;
color: #ffffff !important;
}

.nav-tabs .btn-outline-danger:active,
.nav-tabs .btn-outline-danger:focus {
border: 1px solid #dc3545 !important;
background: #dc3545 !important;
color: #ffffff !important;
box-shadow: none !important;
}

body.bg-dark .breadcrumb,
body.text-white .breadcrumb {
--bs-breadcrumb-item-color: #ffffff;
--bs-breadcrumb-item-hover-color: #ffffff;
--bs-breadcrumb-item-active-color: #ffffff;
--bs-breadcrumb-divider-color: #ffffff;
}